// Colors
$grey-20: hsl(210, 14%, 20%);
$text-1: $grey-20;

$bg-1: #05040d;
$bg-2: #03060f;

$bg-1-tp-50: rgba(5, 4, 13, .5);
$bg-2-tp: rgba(3, 6, 15, 0);

$mobile-break: 850px;
$mobile-break-m: 600px;
$mobile-break-s: 400px;

$green-1: #53c94d;